table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  background-color: 5131BA;
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #c0c0c0 ;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: 5131BA;
  color: white;
}